/* CSS Document */
.all{ padding-top:10px}
.all tr td{ text-align:center;padding-left:25px; padding-top:10px}
.title{ background-color:#CCC; height:30px; padding-top:8px;}
.djl{ float:left; height:25px; padding-top:10px; padding-left:10px; color:#F33}
.bso{ border:#3FC 2px solid}
.imgg{  height:30px;  padding-top:3px;}
.sxye tr td a{text-decoration:none; }
.con a{text-decoration:none;color:#000000; }

