

.call{background-repeat:no-repeat; background:url(../images/tup1.jpg) no-repeat center; margin:0 auto; font-size:30px; text-align:center; padding-left:5%}
.share{ text-align:center; padding-top:2% ; background-color:#E94820; padding-bottom:2%}
.co{ padding-top:3%; padding-bottom:3%}