
.all{ background-color:#00C8FB; width:96%; padding-top:5%; margin-left:2%; margin-right:2% ; margin-top:2%}
.all tr td{ text-align:center; padding-top:2% }
.renz{ border-bottom:#CCC 1px solid; color:#9900FF;}
.xxi{width:98%; margin-left:2%;  }
.xxi tr td {padding-top:2%}
.zhengs{width:98%; margin-left:2%; margin-top:2%  }
.zshu{ text-align:center;padding-top:5%}
.cc{background-repeat:no-repeat; background: url(../images/tup1.jpg) no-repeat center; margin:0 auto; font-size:30px; text-align:center; padding-left:5%}
