.all{ padding-top:3%; width:100%}
.all tr td{ border-bottom:#CCC 2px solid; padding-bottom:2%}
.re{ width:20%; vertical-align:bottom; float:right}
.liulang{ float:left; margin-top:5%}
.titleimg{ width:100%}
.sxye tr td a{ text-decoration:none; color:#999}
.im{ float:left}
.all  a{text-decoration:none;color:#000000; }

